<div id="<%= dom_id student %>">
  <p>
    <strong>Nome Próprio:</strong>
    <%= student.proper_name %>
  </p>

  <p>
    <strong>Matrícula:</strong>
    <%= student.registration %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= student.course %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= student.cpf %>
  </p>

</div>
