<%= form_with(model: theme) do |form| %>
  <% if theme.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
        <% theme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 ms-2">
    <%= form.label :Nome_do_Tema, style: "display: block" %>
    <%= form.text_field :theme %>
  </div>

  <div class="mb-3 ms-2">
    <%= submit_tag "Enviar", class: "submit-button btn btn-success" %>
  </div>
<% end %>
