<div id="<%= dom_id book %>" class="pb-3">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Autores:</strong>
    <% book.authors.each  do |author| %>
      <%= author.signature %> <br />
    <% end %>
  </p>

  <div class="border border-black p-3">
    <strong>Temas:</strong> <br>
    <% book.themes.each  do |theme| %>
      <p>
        <%= theme.theme %>,
        <%= form_with(url: remove_theme_book_path(@book, theme), method: :post, local: true) do |form| %>
          <%= form.submit 'Remover', data: { confirm: 'Tem certeza que deseja remover este tema do livro?' }%>
        <% end %>
      </p>
    <% end %>
  </div>

</div>
