<div id="<%= dom_id book %>" class="pb-3">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <div class="pb-3">
    <div class="border border-black p-3">
      <strong>Autores:</strong> <br>
      <% book.authors.each  do |author| %>
        <p>
          <%= author.signature %>
          <%= form_with(url: remove_author_book_path(@book, author), method: :post, local: true) do |form| %>
          <%= form.submit 'Remover', data: { confirm: 'Tem certeza que deseja remover este autor do livro?' }, class: "btn btn-danger" %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>


  <div class="border border-black p-3">
    <strong>Temas:</strong> <br>
    <% book.themes.each  do |theme| %>
      <p>
        <%= theme.theme %>,
        <%= form_with(url: remove_theme_book_path(@book, theme), method: :post, local: true) do |form| %>
          <%= form.submit 'Remover', data: { confirm: 'Tem certeza que deseja remover este tema do livro?' }%>
        <% end %>
      </p>
    <% end %>
  </div>

</div>
