<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

  <p>
    <strong>Autores:</strong>
    <% book.authors.each  do |author| %>
      <%= author.signature %> <br />
    <% end %>
  </p>

  <p>
    <strong>Temas:</strong>
    <% book.themes.each  do |theme| %>
      <%= theme.theme %> <br/>
    <% end %>
  </p>

</div>
