<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 ms-2">
    <%= form.label :Nome_do_Livro, style: "display: block" %>
    <%= form.text_field :book_name %>
  </div>

  <div class="mb-3 ms-2 position-relative">
    <%= form.label "Autores", style: "display: block" %>
    <%# form.text_field :author_signature %>
<!--    <input type="text" class="form-control autocomplete" id="search_author" name="search_author" />-->
    <%= form.hidden_field :author_id %>
    <script type="text/javascript">
      var count_authors_on_book = <%=book.add_author_to_books.count %>;
    </script>
    <div class="content_authors">
      <%= form.fields_for :add_author_to_books do |author|  %>

        <div class="ms-2 mb-2">
          <input type="text" class="form-control" value="<%=author.object.author.signature %>">
          <%=author.hidden_field :author_id %>
        </div>
      <% end %>

    </div>
    <button type="button" class="btn btn-info add_author">Adicionar Author</button>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label :Ano, style: "display: block" %>
    <%= form.date_field :year %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label :ISBN, style: "display: block" %>
    <%= form.text_field :isbn %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label :Tema_do_Livro, style: "display: block" %>
    <%= form.text_field :theme %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label :Quantidade, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div class="mb-3 ms-2">
    <%= submit_tag "Enviar", class: "submit-button btn btn-success" %>
  </div>

<% end %>
