<body data-turbo="false">
  <p style="color: green"><%= notice %></p>

  <h1>Detalhes do Livro</h1><br>

  <div class="ms-2">
    <%= render @book %>
  </div>

  <div class="d-flex justify-content-lg-end">
    <button type="button" class="btn btn-primary" id="add-tema" data-bs-toggle="modal" data-bs-target="#modalTema">Adicionar Tema</button>
  </div>

  <div class="modal" id="modalTema" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionando um tema ao livro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(url: add_theme_book_path(@book), method: :post) do |form| %>
            <div class="field pb-2">
              <%= form.label :theme_id, "Nome do tema:" %><br>
              <%= form.collection_select :theme_id, Theme.all, :id, :theme, {}, class: "form-select" %>
            </div>
            <button type="submit" class="btn btn-primary add_theme">Adicionar Tema</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="p-3">
      <%= link_to "Editar", edit_book_path(@book), :class => "btn btn-primary" %>
      <%= link_to "Voltar", books_path , :class => "btn btn-primary"%>
    </div>
    <%= button_to "Apagar Livro", @book, method: :delete, :class => "btn btn-danger"%>
  </div>
</body>
