<%= form_with(model: loan) do |form| %>
  <% if loan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 ms-2">
    <%= form.label "Aluno", style: "display: block" %>
    <%= form.collection_select :student_id, @students, :id, :proper_name, {prompt: true} , class: "form-select" %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label "Livro", style: "display: block" %>
    <%= form.collection_select :book_id, @book, :id, :book_name, {prompt: true} , class: "form-select" %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label "Funcionário", style: "display: block" %>
    <%= form.collection_select :employer_id, @employers, :id, :proper_name, {prompt: true} , class: "form-select" %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label "Data de Empréstimo", style: "display: block" %>
    <%= form.date_field :loan_date, class: "form-control" %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label "Previsão de Retorno", style: "display: block" %>
    <%= form.date_field :forecasted_return, class: "form-control" %>
  </div>

  <div class="mb-3 ms-2">
    <%= form.label "Devolução", style: "display: block" %>
    <%= form.date_field :return, class: "form-control" %>
  </div>

  <div class="mb-3 ms-2">
    <%= submit_tag "Enviar", class: "submit-button btn btn-success" %>
  </div>

<% end %>
