<div id="<%= dom_id loan %>">

  <div class="pb-3">
    <div class="border border-black p-3">
      <strong>Livros:</strong> <br>
      <% loan.books.each  do |book| %>
        <p>
          <%= book.book_name %>,
          <%= form_with(url: remove_book_loan_path(@loan, book), method: :post, local: true) do |form| %>
            <%= form.submit 'Remover', data: { confirm: 'Tem certeza que deseja remover este Livro do Empréstimo?' }, class: "btn btn-danger" %>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="d-flex justify-content-lg-end pt-2">
      <button type="button" class="btn btn-primary" id="add-book" data-bs-toggle="modal" data-bs-target="#modalBook">Adicionar Livro</button>
    </div>
  </div>

  <p>
    <strong>Funcionário:</strong>
    <%= loan.employer.proper_name %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= loan.student.proper_name %>
  </p>

  <p>
    <strong>Data de Empréstimo:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Previsão de Retorno:</strong>
    <%= loan.forecasted_return %>
  </p>

  <p>
    <strong>Devolução:</strong>
    <%= loan.return %>
  </p>

  <div class="modal" id="modalReturn" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionando data de Devolução</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%= form_with(url: add_return_loan_path(@loan), method: :post) do |form| %>
            <div class="field pb-2">
              <%= form.label :return, "Data de Devolução" %><br>
              <%= form.date_field :return, class: "form-control" %>
            </div>
            <%= form.submit "Adicionar Devolução", class: "btn btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <%# unless loan.return.present? %>
<!--    <div class="d-flex justify-content-lg-end pt-2">-->
<!--      <button type="button" class="btn btn-primary" id="add-return" data-bs-toggle="modal" data-bs-target="#modalReturn">Adicionar Devolução</button>-->
<!--    </div>-->
  <%# end %>

</div>
