<div id="<%= dom_id loan %>">
  <p>
    <strong>Livro:</strong>
    <%= loan.book_id %>
  </p>

  <p>
    <strong>Funcionário:</strong>
    <%= loan.employer_id %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= loan.student_id %>
  </p>

  <p>
    <strong>Data de Empréstimo:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Previsão de Retorno:</strong>
    <%= loan.forecasted_return %>
  </p>

  <p>
    <strong>Devolução:</strong>
    <%= loan.return %>
  </p>

</div>
