<div id="<%= dom_id loan %>">
  <p>
    <strong>Book:</strong>
    <%= loan.book_id %>
  </p>

  <p>
    <strong>Employer:</strong>
    <%= loan.employer_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= loan.student_id %>
  </p>

  <p>
    <strong>Loan date:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Return:</strong>
    <%= loan.return %>
  </p>

  <p>
    <strong>Forecasted return:</strong>
    <%= loan.forecasted_return %>
  </p>

</div>
