<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="h2 mt-4 mb-4">Empréstimos</h1>
      <div class="input-group mb-5 align-items-center">
        <span class="h5 ps-4">Período da Pesquisa: </span><label class="ms-2" for="inicio">De: </label>
        <input id="data-inicio" class="form-control ms-2" type="date" /><label class="ms-2" for="final">Até: </label>
        <input id="data-final" class="form-control ms-2" type="date" />
      </div>
    </div>
  </div>
</div>


<div class="container d-flex justify-content-end p-3">
    <%= link_to "Novo Empréstimo", new_loan_path, :class => "btn btn-primary" %>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Aluno</th>
        <th>Livro</th>
        <th>Funcionário</th>
        <th>Data de Empréstimo</th>
        <th>Previsão de Devolução</th>
        <th>Data de Devolução</th>
        <th>Detalhes</th>
        <th>Deletar</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.student.proper_name %></td>
          <td>
            <% loan.books.each do |book| %>
              <%= book.book_name %> ,
              <br>
            <% end %>
          </td>
          <td><%= loan.employer.proper_name %></td>
          <td><%= loan.loan_date %></td>
          <td><%= loan.forecasted_return %></td>
          <td><%= loan.return %></td>
          <td><%= link_to "Visualizar", loan, method: :post, :class => "btn btn-primary" %></td>
          <td><%= link_to "Deletar", loan, method: :delete, data: {confirm: ("Tem certeza que deseja apagar ?")}, :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div id="loans">
</div>


