<p style="color: green"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="h2 mt-4 mb-4">Funcionários</h1>
      <%= form_tag employers_path, method: :get, class: "input-group mb-5 align-items-center" do %>
        <span class="h5 ps-4">Período da Pesquisa: </span>
        <label class="ms-2" for="inicio">De: </label>
        <%= date_field_tag :start_date, params[:start_date], class: "form-control ms-2" %>
        <label class="ms-2" for="final">Até: </label>
        <%= date_field_tag :end_date, params[:end_date] || Time.current.to_date, class: "form-control ms-2" %>        <div class="container d-flex justify-content-end p-3">
          <%= submit_tag "Pesquisar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>





<div class="container d-flex justify-content-end p-3">
  <%= link_to "Novo Funcionário", new_employer_path, :class => "btn btn-primary" %>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
          <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Data de Admissão</th>
            <th>Data de Demissão</th>
            <th>Qtd. Empréstimos</th>
            <th>Detalhes</th>
            <th>Deletar</th>
            <th colspan="3"></th>
          </tr>
      </thead>

      <tbody>
        <% @employers.each do |employer| %>
            <tr>
              <td><%= employer.proper_name %></td>
              <td><%= employer.function %></td>
              <td><%= employer.effectuation_date %></td>
              <td><%= employer.resignation_date %></td>
              <td><%= @loan_count[employer.id] %></td>
              <td><%= link_to "Visualizar", employer, method: :post, :class => "btn btn-primary" %></td>
              <td><%= link_to "Deletar", employer, method: :delete, data: {confirm: ("Tem certeza que deseja apagar ?")}, :class => "btn btn-primary" %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


